<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SSE Simple Chat</title>
        <link rel="stylesheet" href="<%= assetPath(`/public/application.css`) %>"/>

        <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet" />
    </head>
    <body class="h-full">
        <main class="h-full bg-gray-50">
            <%= yield %>
        </main>
    </body>
</html>
